md-dialog{ width:30%; }
.m-20px-0{ margin:20px 0; }
.md-info{ background-color:#2196F3 !important; color:#ffffff !important; }
.md-danger{ background-color:#D32F2F !important; color:#ffffff !important; }

.error {
    color: red !important;
    font-size: 0.8rem;
}

td, th {
    text-align: right !important;
}

